@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');


/* Alibaba font import */
@font-face {
  font-family: 'Alibaba';
  src: url('/fonts/AlibabaFonts/fonts/woff2/Alibaba-Regular.woff2') format('woff2'),
    url('/fonts/AlibabaFonts/fonts/woff/Alibaba-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba';
  src: url('/fonts/AlibabaFonts/fonts/woff2/Alibaba-Bold.woff2') format('woff2'),
    url('/fonts/AlibabaFonts/fonts/woff/Alibaba-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}




/* Import Tailwind and DaisyUI plugin */
@import "tailwindcss";



/* =============================
   Theme variables
============================= */



:root {
  /* Colors */
  --blue-100: #DBEAFE;
  --color-primary: #155DFC;
  --blue-600: #155DFC;

  --color-secondary: #0A0A0A;
  --color-bg: #FFFFFF;
  --color-text: #737373;

  --neutral-100: #F5F5F5;
  --neutral-200: #E5E5E5;
  --neutral-300: #D4D4D4;
  --neutral-400: #A1A1A1;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;

  --emerald-100: #D0FAE5;
  --emerald-500: #00BC7D;

  --fuchsia-100: #FAE8FF;
  --fuchsia-500: #E12AFB;

  --amber-100: #FEF3C6;
  --amber-500: #FE9A00;



  /* Fonts */
  --font-fa: "Alibaba", sans-serif;
  --font-en: "Outfit", sans-serif

  --font-sans: "Alibaba", sans-serif;
  --font-mono: "Fira Code", monospace;

  
  /* transition */
  --transition: all ease-in-out 0.5;
}
html[lang="en"] .font-adamina {
font-family: "Adamina", serif;
font-weight: 400;}

/* Dark mode */
.dark {
  --color-bg: #111827;
  /* dark background */
  --color-text: #ffffff;
  /* text white */
  --color-primary: #818cf8;
  --color-secondary: #ec4899;
}


/* Light/Dark auto via prefers-color-scheme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: 17 24 39;
    --color-text: 255 255 255;
  }
} */

/* Apply global styles */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  direction: var(--dir);
letter-spacing: -0.05em;


}

html[lang="en"] body {
  font-family: var(--font-en);
}
html[lang="ar"] body {
  font-family: var(--font-fa);
}
html[lang="fa"] body {
  font-family: var(--font-fa);
}


h1,h2,h3,h4{
color: var(--neutral-700);
}

h1{
font-size: 45px;
font-weight: bold;
}
h2{
font-size: 36px;
font-weight: bold;
}
h3{
font-size: 24px;
font-weight: normal;
}
h4{
  font-size: 18px;
  font-weight: normal;
}

li{
  text-decoration: none;
}


/* =============================
   DaisyUI theme (optional)
============================= */



.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.nav-padding {
  padding-inline-start: clamp(1rem, 10vw, 250px);
  padding-inline-end: clamp(1rem, 10vw, 250px);
}

.nav-padding-right {
  padding-inline-start: clamp(1rem, 10vw, 250px);
}

.nav-padding-left {
  padding-inline-end: clamp(1rem, 10vw, 250px);
}


.grid-border{
  border-bottom: 1px solid var(--neutral-300);
}
.grid-border-whole{
  border: 1px solid var(--neutral-300);
}
.grid-border-top{
  border-top: 1px solid var(--neutral-300);
}
.grid-border-right{
  border-right: 1px solid var(--neutral-300);
}
.grid-border-left{
  border-left: 1px solid var(--neutral-300);
}

.grid-border-inline-start {
  border-inline-start: 1px solid var(--neutral-300);
}

.grid-border-inline-end {
  border-inline-end: 1px solid var(--neutral-300);
}

.grid-border-block-start {
  border-block-start: 1px solid var(--neutral-300);
}

.grid-border-block-end {
  border-block-end: 1px solid var(--neutral-300);
}

.transition{
  transition: all 0.3 ease-in-out
}
.column-pattern {


  /* pattern */


  background-image: repeating-linear-gradient(
    -45deg,           /* angle of the stripes */
    #f0f0f0,         /* stripe color */
    #f0f0f0 2px,    /* stripe width */
    #ffffff 2px,    /* gap color */
    #ffffff 5px     /* gap width */
  );

}
.linear-bg-blue{
  background: #D4D4D4;
background: linear-gradient(90deg, rgba(212, 212, 212, 1) 8%, rgba(21, 93, 252, 1) 51%, rgba(212, 212, 212, 1) 92%);
}